[Desktop Entry]
Name=Conky Sun GIF
Comment=Conky Solar Conditions GIF
GenericName=Conky Screen Background Monitor
Exec=/home/pi/pi-scripts/conky/startconkygif
Icon=/home/pi/pi-build/conky/conky-logo.png
Type=Application
Encoding=UTF-8
Terminal=false
Categories=HamRadio
Keywords=Radio
