[Desktop Entry]
Name=Conky Mylog
Comment=Conky mylog display
GenericName=Conky Screen Background Monitor
Exec=/home/pi/pi-scripts/conky/startconkymylog
Icon=/home/pi/pi-build/conky/conky-logo.png
Type=Application
Encoding=UTF-8
Terminal=false
Categories=wb0sio;wb0sioconky;
Keywords=Radio
