[Desktop Entry]
Name=LinBPQ
Comment=Run LinBPQ
GenericName=LinBBQ
Exec=/home/pi/pi-scripts/startlinbpq.sh
Icon=/home/pi/linbpq/HTML/favicon.ico
Type=Application
Encoding=UTF-8
Terminal=false
Categories=wb0sio;
Keywords=Radio
