[Desktop Entry]
Version=1.0
Name=Pi Scripts Update
Comment=Update pi scripts installations.
Exec=/home/pi/pi-scripts/update.sh
Icon=/home/pi/pi-scripts/logo.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
StartupNotify=true
NoDisplay=false
