[Desktop Entry]
Version=1.0
Name=wsjtx-FD
Comment=Amateur Radio Weak Signal Operating
Exec=wsjtx -r FD
Icon=wsjtx_icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=wb0sio;
StartupNotify=true
