[Desktop Entry]
Version=1.0
Name=js8call-fd
Comment=Amateur Radio Weak Signal Operating
Exec=js8call -r FD
Icon=js8call_icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=HamRadio;
StartupNotify=true
